---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

h1 {
  font-family: 'Arial Black', Arial, sans-serif; /* Use Arial Black as the primary font */
  text-transform: uppercase; /* Capitalize the title */
  text-align: center; /* Center-align the title */
  margin-top: 0px; /* Optional: Add space above the title */
}

.container {
  max-width: 1200px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add some padding for better spacing */
}
