---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

.site-title {
  font-family: 'Arial Black', Arial, sans-serif; /* Replace 'Arial' with your preferred font */
  text-transform: uppercase; /* Capitalize the title */
  text-align: center; /* Optional: Center-align the title */
}
