---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%; /* Keeps the circular shape */
    border: 1px solid #000; /* Add a bold border (5px) with black color */
    padding: 0px; /* Optional: Add padding inside the border */
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

body {
  background-color: #f0f0f0; /* Light off-white background */
  color: #000; /* Ensure text remains black or readable on off-white */
}

h1 {
  font-family: 'Arial Black', Arial, sans-serif; /* Use Arial Black as the primary font */
  text-transform: uppercase; /* Capitalize the title */
  text-align: center; /* Center-align the title */
  margin-top: 0px; /* Optional: Add space above the title */
}

.container {
  max-width: calc(100% + 200px);
  margin-right: -200px;
  padding-right: 200px;
}
